<div class="panel panel-default">  
  <div class="panel-body">
    <form class="form-horizontal">
    	<div class="form-group">
    		<label for="applicationId" class="col-xs-3 text-right control-label">Application Id</label>
    		<div class="col-xs-9">
    			<input type="text" class="form-control" id="applicationId" value="156543" readonly>
    		</div>
    	</div>
    	<div class="form-group">
    		<label for="applicationId" class="col-xs-3 text-right control-label">Grant Rights As</label>
    		<div class="col-xs-9">
    			<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1"> Approver
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="option2"> User
					</label>
    		</div>
    	</div>
		</form>
    <hr>
    <div class="row">
    	<div class="col-xs-3 col-xs-offset-3">
    		<button type="button" class="btn btn-primary form-control">Submit</button>
    	</div>
    </div>
  </div>
</div>
