<div class="panel panel-default">  
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            S.No
          </th>
          <th>
            Type
          </th>
          <th>
            User Details
          </th>
          <th>
            System Details
          </th>
          <th>
            Remarks
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>01</td>
        	<td>Name</td>
        	<td>Shivshankar Choudhury</td>
        	<td>Shivshankar Choudhury</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>02</td>
        	<td>dob</td>
        	<td>13-05-1968</td>
        	<td>13-05-1968</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>03</td>
        	<td>phone</td>
        	<td>2810806979</td>
        	<td>2810806979</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>04</td>
        	<td>email</td>
        	<td>sschoudhury@dummyemail.com</td>
        	<td>sschoudhury@dummyemail.com</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>05</td>
        	<td>street</td>
        	<td>12 Maulana Azad Marg</td>
        	<td>12 Maulana Azad Marg</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>06</td>
        	<td>district</td>
        	<td>New Delhi</td>
        	<td>New Delhi</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>07</td>
        	<td>state</td>
        	<td>New Delhi</td>
        	<td>New Delhi</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
        <tr>
        	<td>08</td>
        	<td>pincode</td>
        	<td>110002</td>
        	<td>110002</td>
        	<td><textarea class="form-control"></textarea></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="row">
    	<div class="col-xs-3 col-xs-offset-2">
    		<button type="button" class="btn btn-success form-control">Approve</button>
    	</div>
    	<div class="col-xs-3 col-xs-offset-2">
    		<button type="button" class="btn btn-danger form-control">Decline</button>
    	</div>
    </div>
  </div>
</div>
