<div class="panel panel-default">
  <div class="panel-heading">Forgot Password</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" data-bind="value: resetEmail">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary form-control"  data-bind="click: resetPassword">Reset Password</button>
      </div>      
    </form>
  </div>
</div>
